.directory
.idea
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
savior
CPackConfig.cmake
CPackSourceConfig.cmake

_site
Gemfile
Gemfile.lock
install_manifest.txt
_CPack_Packages/
savior_ship-0.1.1-1.x86_64.deb
build
vcpkg
